* * * * *    /usr/bin/php /path/to/moodle/admin/cli/cron.php >/dev/null
* * * * *    /usr/bin/php /path/to/moodle/admin/cli/cron.php >/dev/null
* * * * *    /usr/bin/php /path/to/moodle/admin/cli/cron.php >/dev/null -
